<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%">
            <h3 class="head-line">EDUCATION</h3>
            <mat-card>
                <h4><b>Graduation</b></h4>
                <ul>
                    <li>College Name: Santhiram Engineering College</li>
                    <li>University Name: JNTUA(affliated)</li>
                    <li>Passed out Year: 2018</li>
                    <li>Percentage: 60.61%</li>
                    <li>Duration: 2014-2018</li>
                </ul>
                <h4><b>Intermediate</b></h4>
                <ul>
                    <li>College Name: Narayana Junior College</li>
                    <li>Board Name: State Board IPE</li>
                    <li>Passed out Year: 2014</li>
                    <li>Percentage: 82.8%</li>
                    <li>Duration: 2012-2014</li>
                </ul>
                <h4><b>SSC</b></h4>
                <ul>
                    <li>College Name: APRS</li>
                    <li>Board Name: State Board</li>
                    <li>Passed out Year: 2012</li>
                    <li>CGPA: 8.8/10</li>
                    <li>Duration: 2011-2012</li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>