<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%">
            <h3 class="head-line">EXPERIENCE</h3>
            <mat-card>
                <h4><b>Professional Summary</b></h4>
                <ul>
                    <li>1 year of UI Developer experience with Front End Development</li>
                    <li>Creating Webpages using HTML5, CSS3, Bootstrap Framework</li>
                    <li>Having experience in using Grid systems like Bootstrap ad CSS Flex</li>
                    <li>Designing a Responsive website using Media Queries and also Bootstrap</li>
                    <li>Design of Newsletters using Tables</li>
                    <li>Having experience in using Positions in CSS</li>
                    <li>Creating Models and Popup using CSS3 and JavaScript</li>
                    <li>Developing client side validations using JavaScript and jQuery</li>                   
                    <li>Developing custom functionalities using JavaScript and jQuery</li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>