<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%">
            <h3 class="head-line">contact</h3>
            <mat-card>
                <h4><b>Contact</b></h4>
                <ul>
                    <li>Phone Number:&nbsp;&nbsp;+91 9550206538</li>
                    <li>Email-ID:&nbsp;&nbsp;shasindra69@gmail.com</li>
                    <li>Residential Address:&nbsp;&nbsp;H.NO:4/97, Maddipalli, Anantapur Dist.</li>
                    <li>Company Address:&nbsp;&nbsp;Community Hall, S, H:No - 100/B, Ground Floor, Near SR Nagar, Hyderabad, Telangana - 500038</li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>