<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%">
            <h3 class="head-line">ABOUT</h3>
            <mat-card class="for-font">
                <h6><b>Hello! I'm Shasindra Reddy,</b>&nbsp;Web designer/Developer from Kuncham Software Solutions. I have a good  experience in Website design using HTML, CSS, Bootstrap, RWD, Basics of Angular, also Thumbnails in Photoshop.</h6>
                <h3 style="color:#111d5e !important;font-weight: bold;">Looking for an organization where I can enhance my knowledge and from my skills give best to the organization.</h3>
                <h4><b>Name:</b>&nbsp;&nbsp;Yerasi Shasindra Reddy</h4>
                <h4><b>Father Name:</b>&nbsp;&nbsp;Yerasi Rami Reddy</h4>
                <h4><b>Nationality:</b>&nbsp;&nbsp;The Hindu</h4>
                <h4><b>Date of Birth:&nbsp;&nbsp;</b>06, May 1997</h4>
                <h4><b>Marital Status:&nbsp;&nbsp;</b>Unmarried</h4>
                <h4><b>Languages Known:&nbsp;&nbsp;</b>Telugu, English</h4>
                <h4><b>Hobbies:&nbsp;&nbsp;</b>Browsing, Listening Music, Playing Games</h4>
                <h4><b>Strengths:</b></h4>
                <ul>
                    <li>Flexible to work in team</li>
                    <li>Self-Motivated</li>
                    <li>Quick Learner</li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>
