
<div class="container" #targetone>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%">
            <h3 class="head-line">Projects</h3>
            <mat-card>
                <h4><b>Project 1</b></h4>
                <ul>
                    <li>Client Name: Kuncham</li>
                    <li>Tile: Kuncham</li>
                    <li>Technologies: HTML5, CSS3, CSS Flex, Bootstrap and JavaScript</li>
                    <li>Duration: 2 Months</li>
                    <li>Team Size: 4</li>
                    <li>Role: (Developer)</li>
                    <li>Link: http://kunchams.com</li>
                </ul>
                <h4><b>Project Abstract</b></h4>
                    <h6>Kuncham is a bespoke software development company specializing in the development of scalable software applications, enterprise software and automation software. We mainly develop applications that automate the daily workflow of a company or organization and make life easier.</h6>
                <h4><b>Roles and Responsibilities</b></h4>
                <ul>
                    <li>Involved in the Development phases.Successfully migrated to Bootstrap Framework and CSS Flex from Float system.</li>
                    <li>Developing User Interface using HTML5, CSS3, CSS Flex and Bootstrap</li>
                    <li>Validating Data and Developing Functionalities using JavaScript</li>
                    <li>Creating Hover Effects using CSS</li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>